{% extends 'index.html' %}
{% block content %}
<a href="/" class="icon-container">
    <img class="img1" src="../static/img/home.png" alt="Домашняя страница">
</a>
<div class="form-container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
<form action="/login" method="post">
    <label for="login">Логин</label>
    <input type="text" id="login" name="login" required><br>
    <label for="word">Пароль</label>
    <input type="password" id="word" name="word" required><br>
    <button type="submit">Войти</button>
</form>
</div>
{% endblock %}