{% extends 'index.html' %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <img class="img2" src="../static/img/home.png" alt="Домашняя страница">
    <div class="home">
        <a href="/register"><button>Зарегистрироваться</button></a>
        <a href="/login"><button>Войти</button></a>
    </div>
</div>
{% endblock %}